/*Container
----------------------------------------------------------------------------------------------------*/
body {
    background:#111111;    
    overflow:hidden;
}

.main-title {
    padding:30px;
    color:#ffcd33;
    background:#222222;    
    font-size:30px;
    font-weight:bold;
    font-family: "Sansation Bold";
    margin:0px;
}

.container{
    height:100%;
    width:100%;
    overflow:hidden;
    position:relative;
}

.options{
    width:300px;
    position: absolute;
    left: 230px;
    top: -85px;
    z-index:3;
    font-size: 20px;
    color:#eeeeee;
    padding:5px;
    
    transition:top 0.3s;
    -webkit-transition:top 0.3s;
}

.image-options{
    width:100%;
    background:#111111;    
    float:left;
    border:1px solid black;
    padding:15px;
    font-size:15px;
    border-bottom-right-radius:20px;
}

.image-options input{
    margin-right:12px;
    
}

.option-title{
    background:#111111;    
    border:1px solid black;
    border-top:0px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    text-align:right;
    padding:15px;
    float:left;
    position:relative;
    bottom:1px;
}

.options:hover{
    top:0px;
}

/*Sub Containers
----------------------------------------------------------------------------------------------------*/
.image{
    height:100%;
    width:100%;
    position:absolute;
    z-index:0;
    top:0px;
    left:0px;
    background:url(images/military/4.jpg) no-repeat center;
    background-size:auto 100%;
    opacity:1;
    box-shadow: 0px 0px 10px black;
    
    transition:opacity 0.5s;
    -webkit-transition:opacity 0.5s;
}

.sub-container{
    position:absolute;
    top:0px;
    left:0px;
    z-index:1;
    height:100%;
    width:100%;
}


/*Quotes
----------------------------------------------------------------------------------------------------*/
.img-quote-container{
    height:70%;
    position:relative;
}

.quote-author-container{
    position:relative;
    z-index:2;
}

.quote {
    max-width:60%;
    font-size:6em;
    font-weight:normal;
    font-family: "Sansation";
    color: #efefef;
    opacity:0;
    background: rgba(0, 0, 0, 0.3);
    padding:20px;
    
    position:absolute;
    left:0px;
    top:0px;
    
    transition:left 3s, opacity 3s;
    -webkit-transition:left 3s, opacity 3s;
    /*transition-timing-function:cubic-bezier(.04,.97,.46,.43);
    -webkit-transition-timing-function:cubic-bezier(.04,.97,.46,.43);*/

}

.author {
    max-width:60%;
    font-size:7em;
    line-height:1.1;
    font-weight:bold;
    font-family: "Sansation Bold";
    color: #ff3333/*ff3300ffcd33*/;
    opacity:0;
    background: rgba(0, 0, 0, 0.5);
    padding:20px;

    position:absolute;
    left:0px;
    top:0px;

    transition:left 3s, opacity 3s;
    -webkit-transition:left 3s, opacity 3s;
    /*transition-timing-function:cubic-bezier(.04,.97,.46,.43);
    -webkit-transition-timing-function:cubic-bezier(.04,.97,.46,.43);*/
}

.quote, .author{
    border-radius:10px;
}

.aux-container{
    height:30%;
}


/*Play List
----------------------------------------------------------------------------------------------------*/
.play{
    width:50%;
    height:100%;
    overflow-y:auto;
    float:left;
    padding-top: 20px;
    background:rgba(20, 20, 20, 0.5); 
}

.play ul{
    padding-left:0px;
}

.play-list{
    margin:10px;
    float:left;
    list-style-type: none;
}
    
.play-list a{
    font-size:20px;
    font-weight:bold;
    font-family: 'Sansation';
    color: #eeeeee;
    border:1px solid black;
    border-radius:5px;
    background:rgba(20, 20, 20, 0.4); 
    text-transform:uppercase;
    padding:5px 20px 5px 20px;
}

.play-list a:hover{
    background:rgba(40, 40, 40, 1);     
}

.play-list span{
    font-size:18px;
    margin-right:20px;
    color:white;
}
.play-list a:hover{
    text-decoration:none;
}

/*Timer
----------------------------------------------------------------------------------------------------*/
.timer{
    float: left;
    width: 50%;
    height:100%;
    padding: 20px;
    text-align: center;
    font-size: 10em;
    cursor: pointer;
    text-decoration: none;
    color: #ffcd33;
    line-height: 1;
    background:rgba(20, 20, 20, 0.5); 
}

.timer span{
    opacity:0.3;
}

.timer:hover span{
    opacity:0.6;
}

.timer .glyphicon-refresh{
    font-size:0.7em;
    color:#eeeeee;
}

/*Responsive
----------------------------------------------------------------------------------------------------*/
@media (max-width: 1300px){
    .play, .timer{
        width:100%;
    }
}

@media (max-width: 700px){
    .quote, .author{
        font-size:4em;
    }
}